@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    
    
    
  }
  .navbar {
    padding: 20px;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
    
  }
.navbar h1 {
     text-align: center;
     color: rgb(0, 162, 255);
     font-size: 6vh;  
}



.home {
    padding: 15px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #a3a1a1;
}

.home .day-preview {
    
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border-left:   red;
    
    transition-property: border-left;
    transition-duration: 0.3s;
    
    
    
    

    
    
}
.home .day-preview:hover {
    
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border-left: 10px solid red;
    
    
    
    

    
    
}

.infoWeather {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    
    
    
}
.infoWeather h2 {
    font-size: 4vh;
}
.infoWeather button {
    background-color: rgb(88, 202, 255);
    border: 0px;
    font-size: 2vh;
    box-shadow:3px 3px 5px rgb(0, 0, 0, 0.2);
    animation-name: nohover;
    animation-duration: 0.15s;   
}

    @keyframes nohover{
        from{font-size: 2.05vh; box-shadow:4px 4px 5px rgb(0, 0, 0, 0.4);}
        to{font-size: 2vh; box-shadow:3px 3px 5px rgb(0, 0, 0, 0.2);}
    }

.infoWeather button:hover {
    background-color: rgb(15, 173, 247);
    font-size: 2.05vh;
    box-shadow:4px 4px 5px rgb(0, 0, 0, 0.4);
    animation-name: hover;
    animation-duration: 0.15s;  
}

    @keyframes hover{
        from{font-size: 2vh; box-shadow:4px 4px 5px rgb(0, 0, 0, 0.2);}
        to{font-size: 2.05vh; box-shadow:4px 4px 5px rgb(0, 0, 0, 0.4);}
    }
.bodyweather {
    padding: 20px;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    
}
.bodyweather h2 {
    font-size: 2vh;
}
.bodyweather button {
    margin-top: 4%;
}

.Result {
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    align-items: center;
    

    
}

#labelCity {
    font-size: 2.5vh;
    color: black;
    
    
     
     
}

.Result h1{
    text-align: center;
    font-size: 4.5vh;

    
}

.Result h2{
    text-align: center;
    font-size: 4.5vh;

    
}

#input {
    border: 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    outline: 0px;
}

.Content {    
    backdrop-filter: blur(15px);
    background-color: rgba(180, 180, 180, 0.5);
    margin: 7vh;
    
}









